* {
  margin: 0;
}

header {
  background-color: #f3feff;
}
header .drun {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .drun nav {
  display: flex;
  gap: 50px;
}
header .drun nav span {
  color: #35afbf;
  border-bottom: 1px solid #35afbf;
  padding-bottom: 10px;
}
header .drun nav p {
  color: gray;
}
header .drun button {
  padding: 15px 30px;
  background-color: #35afbf;
  border: none;
  border-radius: 5px;
  color: white;
}

.section1 {
  background-color: #f3feff;
}
.section1 .drun aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.section1 .drun aside button {
  padding: 15px 30px;
  background-color: #35afbf;
  border: none;
  border-radius: 5px;
  color: white;
}
.section1 .drun {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .drun h1 {
  font-size: 51px;
}
.section1 .drun span {
  color: #35afbf;
}

.section2 {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.section2 .x4 {
  display: flex;
  justify-content: space-between;
}
.section2 .box {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 30px 10px;
  border-radius: 20px;
}
.section2 .box1 {
  background-color: #d1f4f9;
}

.section3 {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section3 aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.section3 aside button {
  padding: 15px 30px;
  background-color: #35afbf;
  border: none;
  border-radius: 5px;
  color: white;
  color: #35afbf;
  border: 1px solid #35afbf;
  background-color: white;
}

.section4 {
  background-image: url(Background.png);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: white;
  align-content: center;
  text-align: center;
  padding: 100px;
}
.section4 h1 {
  font-size: 55px;
}
.section4 p {
  font-size: 22px;
}

.section5 {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.section5 .cont {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0px;
}
.section5 .x6 {
  width: 270px;
  padding: 30px 10px;
  border-bottom: 2px solid #35afbf;
  height: 170px;
}

.section6 {
  background-color: #e8f9fb;
  padding: 50px;
}
.section6 .drun h1 {
  color: gray;
}
.section6 .drun {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.section7 {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.section7 button {
  padding: 15px 30px;
  background-color: #35afbf;
  border: none;
  border-radius: 5px;
  color: white;
}

footer {
  padding: 20px 0px;
  background-color: #2c353e;
}
footer .cont {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 80px 0px;
}
footer .cont .cena {
  display: flex;
}
footer .cont .cena p:nth-child(2) {
  font-size: 40px;
}
footer .cont .cena p:last-child {
  align-self: flex-end;
}
footer .cont .free {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
footer .cont .free button {
  padding: 10px 20px;
  background-color: #2c353e;
  border: none;
  border: 1px solid #6b7178;
  border-radius: 10px;
  color: white;
}
footer .footer {
  color: gray;
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .chap {
  display: flex;
  gap: 50px;
}
footer .footer .rost {
  display: flex;
  gap: 50px;
}/*# sourceMappingURL=style.css.map */