@mixin button1 {
  padding: 15px 30px;
  background-color: #35afbf;
  border: none;
  border-radius: 5px;
  color: white;
}
@mixin button2 {
  padding: 10px 20px;
  background-color: #2c353e;
  border: none;
  border: 1px solid #6b7178;
  border-radius: 10px;
}
@mixin cont {
  padding: 30px 0px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* {
  margin: 0;
}
header {
  background-color: #f3feff;
  .drun {
    @include cont();
    nav {
      display: flex;
      gap: 50px;
      span {
        color: #35afbf;
        border-bottom: 1px solid #35afbf;
        padding-bottom: 10px;
      }
      p {
        color: gray;
      }
    }
    button {
      @include button1();
    }
  }
}
.section1 {
  background-color: #f3feff;
  .drun {
    aside {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: start;
      button {
        @include button1();
      }
    }
    @include cont();
    h1 {
      font-size: 51px;
    }
    span {
      color: #35afbf;
    }
  }
}
.section2 {
  @include cont();
  padding: 100px 0px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  .x4 {
    display: flex;
    justify-content: space-between;
  }
  .box {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 30px 10px;
    border-radius: 20px;
  }
  .box1 {
    background-color: #d1f4f9;
  }
}
.section3 {
  @include cont();
  aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    button {
      @include button1();
      color: #35afbf;
      border: 1px solid #35afbf;
      background-color: white;
    }
  }
}
.section4 {
  background-image: url(Background.png);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: white;
  align-content: center;
  text-align: center;
  padding: 100px;
  h1 {
    font-size: 55px;
  }
  p {
    font-size: 22px;
  }
}
.section5 {
  @include cont();
  flex-direction: column;
  gap: 20px;
  text-align: center;
  .cont {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
  }
  .x6 {
    width: 270px;
    padding: 30px 10px;
    border-bottom: 2px solid #35afbf;
    height: 170px;
  }
}
.section6 {
  background-color: #e8f9fb;
  padding: 50px;
  .drun {
    h1 {
      color: gray;
    }
    @include cont();
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }
}
.section7 {
  @include cont();
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  button {
    @include button1();
  }
}
footer {
    padding: 20px 0px;
  background-color: #2c353e;
  .cont {
      @include cont();
      color: white;
      padding: 80px 0px;
    .cena {
      display: flex;
      p:nth-child(2) {
        font-size: 40px;
      }
      p:last-child {
        align-self: flex-end;
      }
    }
    .free{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        button{
            @include button2();
            color: white;
        }
    }
  }
}
